#concept{
  h2{
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
#images-concept {
    .container{
      img{
        border-radius: 50px;
        overflow: hidden;
        -webkit-border-radius:150px;
        -moz-border-radius:150px;
        width:15em;
        box-shadow: $box-shadow;
        height:15em;
      }
    }
}