#jumbotron {}

#concept {
  .intro {
    img {
      display: block;
      box-shadow: $box-shadow;
      width: 50%;
      height: 50%;
      border-radius: 100px;
      margin-left: 250px;
    }
  }
}

#services {

  .info {
    padding: 15px;

    h2 {
    }

    p {
      text-align: left;
    }
  }

  img {
    display: block;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: 50px;
  }
}


#zenattitude {

  .info {
    padding: 15px;
  }
  img {
    display: block;
    width: 100%;
    border-radius: 50px;
    box-shadow: $box-shadow;
  }
}

#more-details {}