.concept{
  text-align: $text-middle;
  justify-content: $text-justi;
  margin: 100px;
}

.bton {
  display: inline-block;
  box-shadow: $box-shadow;
  padding: 10px 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 60px;
  background-color: $secondary ;
  border-radius: 30px;
  text-decoration: none;
  font-family: $font-family;
  color: rgba(7, 7, 20, 1);
  vertical-align: middle;
  text-align: $text-middle;
  border: 2px solid ;
  transition: $transition;
}

