$primary: rgba(20, 20, 7, 0.30);
$secondary: rgba(190, 189, 52, 1);
$media-path: 'public/';
$text-middle: 'text-align: center';
$text-justi: 'justify-content: center';
$font-family: Roboto;
$box-shadow: 'box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.2)';
$transition: 'transition: .4s ease background-color';