$primary: rgba(20, 20, 7, 0.30);
$secondary: rgba(190, 189, 52, 1);
$media-path: 'public/';
$font-family: Roboto;
$font-title: 'Kaushan Script', cursive;
$title-color: #081534;
$box-shadow:  0 -1px 5px 0 rgba(0, 0, 0, 0.2);
$transition:  .4s ease all;
$icons-color: blue;
