footer {
  text-decoration: none;
  text-align: left;
  background-color: $primary;
  font-family: $font-family;

  li {
    list-style-type: none;
  }


  .site {
    margin-left: 75%;
  }
  .plan {
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
  }

  .site-footer hr.small {
    margin: 20px 0
  }

  .site-footer h6 {
    color: white;
    font-family: $font-family;
    font-size: 20px;
    margin-top: 5px;
    letter-spacing: 2px
  }

  .site-footer a {
    color: $secondary;
  }

  .site-footer a:hover {
    color: white;
    text-decoration: none;
  }

  .footer-links {
    padding-left: 50px;
    list-style: none
  }

  .footer-links li {
    display: block
  }

  .footer-links a {
    color: $secondary;
  }

  .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: white;
    text-decoration: none;
  }

  .footer-links.inline li {
    display: inline-block
  }

  .site-footer .social-icons {
    text-align: center;
  }

  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 25px;
    border-radius: 100%;
    background-color: white;
  }


  .social-icons li {
    display: inline-block;
    margin-bottom: 10px
  }

  .social-icons a {
    background-color: red;
    color: #818a91;
    font-size: 26px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    border-radius: 1000%;
    transition: $transition
  }

  .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    background-color: $secondary;
  }
  .copyright {
    text-align: center;
    justify-content: center;
  }
  .contact {
    text-align: center;
    margin-top: -200px;
  }
}
