#footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;

  h6 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
  }

  ul {
    color: #737373;
    margin: 0;
    padding: 0;
    text-align:  center;

    li {
      list-style-type: none;

      a {
        color: $secondary;
        text-decoration: none;
      }
    }
  }

  .footer-social {
    margin-top: 50px;
    border-top: 2px solid #fff;
    padding-top: 50px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      li {

        a {
          margin: 0 20px;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          background-color: #fff;
          border-radius: 50em;
          font-size: 25px;
          width: 40px;
          height: 40px;

          &:hover {
            background-color: $secondary;
            color: #fff;
          }
        }
      }
    }

    .copyright {
      padding-top: 50px;
      text-align: center;

      a {
        color: $secondary;
      }
    }
  }
}
