#header {
  z-index: 9999;
  font-family: $font-family;
  position: fixed;
  width: 100%;
  background-color: $primary;
  backdrop-filter: blur(5px);

  .navbar {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .navbar-brand {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;

      .logo {
        width: 100%;
        max-width: 80px;
        height: auto;
      }
    }

    .navbar-toggle {
      border: none;
      background: none;
      width: 30px;
      height: 50px;

      span {
        width: 100%;
        display: block;
        height: 2px;
        background-color: #FFF;


        &:not(:last-child) {
          margin-bottom: 7px;
        }
      }
    }

    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;

      &.collapse {
        display: none;

        &.show {
          display: flex;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        li {
          width: 100%;
          margin-bottom: 5px;
          list-style-type: none;

          a {
            display: block;
            text-decoration: none;
            box-shadow: $box-shadow;
            padding: 10px 30px;
            background-color: $primary;
            border-radius: 25px;
            border: 2px solid $primary;
            transition: $transition;
            color: $secondary;
          }
        }
      }
    }
  }
}

@media screen {
  .navbar-toggle {
    display: none;
  }
  .navbar-collapse ul{
    display: flex;
  }
  .navbar-collapse li{
    display: flex;
  }
  .navbar-collapse a{
    display: flex;
  }
}