#header {
  z-index: 9999;
  font-family: $font-family;
  position: fixed;
  width: 100%;
  background-color: $primary;
  backdrop-filter: blur(5px);

  .navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .navbar-brand {
      font-size: 1.5em;

      .logo {
        width: 100%;
        max-width: 80px;
        height: auto;
      }
    }


    &:hover {
      ul {
        position: relative;
        display: flex;
      }
    }

    ul {
      position: absolute;
      display: none;
      flex-wrap: wrap;
      margin: 0;
      padding: 15px;

      li {
        width: 100%;
        margin-bottom: 5px;
        list-style-type: none;

        a {
          display: block;
          text-decoration: none;
          box-shadow: $box-shadow;
          padding: 10px 30px;
          background-color: $primary;
          border-radius: 25px;
          border: 2px solid $primary;
          transition: $transition;
          color: $secondary;

          &:hover {
            color: floralwhite;
            transition: $transition;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #header {

    .navbar {

      .navbar-brand {

        .logo {

        }
      }

      ul {
        display: flex;

        li {
          width: auto;
          margin-bottom: 0;

          &:not(:last-child) {
            margin-right: 30px;
          }

          a {

          }
        }
      }
    }
  }

}